In [2]:
import pyspark
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName("test") \
     .getOrCreate()

24/03/03 19:05:22 WARN Utils: Your hostname, LAPTOP-L2KUM3OT resolves to a loopback address: 127.0.1.1; using 172.29.152.43 instead (on interface eth0)
24/03/03 19:05:22 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/03 19:05:24 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-10.csv.gz

--2024-03-01 19:44:26--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-10.csv.gz
Resolving github.com (github.com)... 20.201.28.151
Connecting to github.com (github.com)|20.201.28.151|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/efdfcf82-6d5c-44d1-a138-4e8ea3c3a3b6?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240301%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240301T224427Z&X-Amz-Expires=300&X-Amz-Signature=a5a5147d8fb74c704763d0a9a643969072628143509303afa5f546ead229eab3&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhv_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream [following]
--2024-03-01 19:44:27--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/efdfcf82-6d5c-44d1-a138-4e8ea3c3a3b6?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240301%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240301T224427Z&X-Amz-Expires=300&X-Amz-Signature=a5a5147d8fb74c704763d0a9a643969072628143509303afa5f546ead229eab3&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhv_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.109.133, 185.199.110.133, 185.199.108.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 19375751 (18M) [application/octet-stream]
Saving to: ‘fhv_tripdata_2019-10.csv.gz’

fhv_tripdata_2019-1 100%[===================>]  18.48M  3.48MB/s    in 5.5s

2024-03-01 19:44:33 (3.38 MB/s) - ‘fhv_tripdata_2019-10.csv.gz’ saved [19375751/19375751]

In [4]:
!gzip -d fhv_tripdata_2019-10.csv.gz

gzip: fhv_tripdata_2019-10.csv already exists; do you wish to overwrite (y or n)? ^C

In [5]:
!wc -l fhv_tripdata_2019-10.csv

1897494 fhv_tripdata_2019-10.csv

In [3]:
df = spark.read \
    .option("header", "true") \
    .csv("fhv_tripdata_2019-10.csv")

In [4]:
df.schema

StructType([StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', StringType(), True), StructField('dropOff_datetime', StringType(), True), StructField('PUlocationID', StringType(), True), StructField('DOlocationID', StringType(), True), StructField('SR_Flag', StringType(), True), StructField('Affiliated_base_number', StringType(), True)])

In [5]:
df.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B00009|2019-10-01 00:23:00|2019-10-01 00:35:00|         264|         264|   null|                B00009|
|              B00013|2019-10-01 00:11:29|2019-10-01 00:13:22|         264|         264|   null|                B00013|
|              B00014|2019-10-01 00:11:43|2019-10-01 00:37:20|         264|         264|   null|                B00014|
|              B00014|2019-10-01 00:56:29|2019-10-01 00:57:47|         264|         264|   null|                B00014|
|              B00014|2019-10-01 00:23:09|2019-10-01 00:28:27|         264|         264|   null|                B00014|
|     B00021         |2019-10-01 00:00:48|2019-10-01 00:07:12|         129|         129|   null|       B00021         |
|     B00021         |2019-10-01 00:47:23|2019-10-01 00:53:25|          57|          57|   null|       B00021         |
|     B00021         |2019-10-01 00:10:06|2019-10-01 00:19:50|         173|         173|   null|       B00021         |
|     B00021         |2019-10-01 00:51:37|2019-10-01 01:06:14|         226|         226|   null|       B00021         |
|     B00021         |2019-10-01 00:28:23|2019-10-01 00:34:33|          56|          56|   null|       B00021         |
|     B00021         |2019-10-01 00:31:17|2019-10-01 00:51:52|          82|          82|   null|       B00021         |
|              B00037|2019-10-01 00:07:41|2019-10-01 00:15:23|         264|          71|   null|                B00037|
|              B00037|2019-10-01 00:13:38|2019-10-01 00:25:51|         264|          39|   null|                B00037|
|              B00037|2019-10-01 00:42:40|2019-10-01 00:53:47|         264|         188|   null|                B00037|
|              B00037|2019-10-01 00:58:46|2019-10-01 01:10:11|         264|          91|   null|                B00037|
|              B00037|2019-10-01 00:09:49|2019-10-01 00:14:37|         264|          71|   null|                B00037|
|              B00037|2019-10-01 00:22:35|2019-10-01 00:36:53|         264|          35|   null|                B00037|
|              B00037|2019-10-01 00:54:27|2019-10-01 01:03:37|         264|          61|   null|                B00037|
|              B00037|2019-10-01 00:08:12|2019-10-01 00:28:47|         264|         198|   null|                B00037|
|              B00053|2019-10-01 00:05:24|2019-10-01 00:53:03|         264|         264|   null|                  #N/A|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

In [ ]:
!head -n 101 fhv_tripdata_2019-10.csv > head.csv

In [ ]:
!wc -l head.csv

In [6]:
import pandas as pd

In [7]:
df_pandas = pd.read_csv("head.csv")

In [8]:
df_pandas.dtypes

dispatching_base_num       object
pickup_datetime            object
dropOff_datetime           object
PUlocationID                int64
DOlocationID                int64
SR_Flag                   float64
Affiliated_base_number     object
dtype: object

In [9]:
spark.createDataFrame(df_pandas).schema

StructType([StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', StringType(), True), StructField('dropOff_datetime', StringType(), True), StructField('PUlocationID', LongType(), True), StructField('DOlocationID', LongType(), True), StructField('SR_Flag', DoubleType(), True), StructField('Affiliated_base_number', StringType(), True)])

In [10]:
from pyspark.sql import types

In [11]:
schema = types.StructType([
    types.StructField('dispatching_base_num', types.StringType(), True), 
    types.StructField('pickup_datetime', types.TimestampType(), True), 
    types.StructField('dropOff_datetime', types.TimestampType(), True), 
    types.StructField('PUlocationID', types.IntegerType(), True), 
    types.StructField('DOlocationID', types.IntegerType(), True), 
    types.StructField('SR_Flag', types.StringType(), True), 
    types.StructField('Affiliated_base_number', types.StringType(), True)])

In [12]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv("fhv_tripdata_2019-10.csv")

In [13]:
df.head(1)

[Row(dispatching_base_num='B00009', pickup_datetime=datetime.datetime(2019, 10, 1, 0, 23), dropOff_datetime=datetime.datetime(2019, 10, 1, 0, 35), PUlocationID=264, DOlocationID=264, SR_Flag=None, Affiliated_base_number='B00009')]

In [ ]:
df = df.repartition(6)

In [ ]:
df.write.parquet("fhv/2019/10")

# QUESTION 2: average size of Parquet files

In [111]:
!ls -lh fhv/2019/10

total 37M
-rw-r--r-- 1 drios drios    0 Feb 28 01:52 _SUCCESS
-rw-r--r-- 1 drios drios 6.2M Feb 28 01:52 part-00000-a1dc68cc-d281-42e8-8ed6-62ae7afd81ba-c000.snappy.parquet
-rw-r--r-- 1 drios drios 6.2M Feb 28 01:52 part-00001-a1dc68cc-d281-42e8-8ed6-62ae7afd81ba-c000.snappy.parquet
-rw-r--r-- 1 drios drios 6.2M Feb 28 01:52 part-00002-a1dc68cc-d281-42e8-8ed6-62ae7afd81ba-c000.snappy.parquet
-rw-r--r-- 1 drios drios 6.2M Feb 28 01:52 part-00003-a1dc68cc-d281-42e8-8ed6-62ae7afd81ba-c000.snappy.parquet
-rw-r--r-- 1 drios drios 6.2M Feb 28 01:52 part-00004-a1dc68cc-d281-42e8-8ed6-62ae7afd81ba-c000.snappy.parquet
-rw-r--r-- 1 drios drios 6.2M Feb 28 01:52 part-00005-a1dc68cc-d281-42e8-8ed6-62ae7afd81ba-c000.snappy.parquet

In [4]:
df = spark.read.parquet("fhv/2019/10")

In [15]:
df

DataFrame[dispatching_base_num: string, pickup_datetime: timestamp, dropOff_datetime: timestamp, PUlocationID: int, DOlocationID: int, SR_Flag: string, Affiliated_base_number: string]

In [16]:
df.printSchema()

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropOff_datetime: timestamp (nullable = true)
 |-- PUlocationID: integer (nullable = true)
 |-- DOlocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)
 |-- Affiliated_base_number: string (nullable = true)

In [17]:
df.select('pickup_datetime', 'dropOff_datetime', 'PUlocationID', 'DOlocationID')

DataFrame[pickup_datetime: timestamp, dropOff_datetime: timestamp, PUlocationID: int, DOlocationID: int]

In [18]:
df.select('pickup_datetime', 'dropOff_datetime', 'PUlocationID', 'DOlocationID') \
    .filter(df.dispatching_base_num == 'B00021')

DataFrame[pickup_datetime: timestamp, dropOff_datetime: timestamp, PUlocationID: int, DOlocationID: int]

In [22]:
# no me reconoce B00021 xq tiene espacios, deberia meter algo similar a un TRIM
df.select('pickup_datetime', 'dropOff_datetime', 'PUlocationID', 'DOlocationID') \
   .filter(df.dispatching_base_num == 'B00009') \
   .show()

+-------------------+-------------------+------------+------------+
|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|
+-------------------+-------------------+------------+------------+
|2019-10-03 09:38:00|2019-10-03 10:12:00|         264|         264|
|2019-10-01 17:05:00|2019-10-01 17:49:00|         264|         264|
|2019-10-03 09:48:00|2019-10-03 09:55:00|         264|         264|
|2019-10-01 14:28:00|2019-10-01 14:42:00|         264|         264|
|2019-10-07 21:50:00|2019-10-07 21:57:00|         264|         264|
|2019-10-03 06:08:00|2019-10-03 06:35:00|         264|         264|
|2019-10-03 21:31:00|2019-10-03 21:44:00|         264|         264|
|2019-10-02 12:54:00|2019-10-02 13:04:00|         264|         264|
|2019-10-08 16:21:00|2019-10-08 16:39:00|         264|         264|
|2019-10-02 15:23:00|2019-10-02 15:33:00|         264|         264|
|2019-10-08 11:00:00|2019-10-08 11:14:00|         264|         264|
|2019-10-07 07:55:00|2019-10-07 08:03:00|         264|         264|
|2019-10-08 11:23:00|2019-10-08 11:33:00|         264|         264|
|2019-10-08 10:50:00|2019-10-08 11:04:00|         264|         264|
|2019-10-03 05:28:00|2019-10-03 05:43:00|         264|         264|
|2019-10-08 14:33:00|2019-10-08 14:50:00|         264|         264|
|2019-10-04 16:36:00|2019-10-04 16:56:00|         264|         264|
|2019-10-01 22:24:00|2019-10-01 22:39:00|         264|         264|
|2019-10-04 23:06:00|2019-10-04 23:12:00|         264|         264|
|2019-10-05 19:31:00|2019-10-05 19:45:00|         264|         264|
+-------------------+-------------------+------------+------------+
only showing top 20 rows

In [23]:
from pyspark.sql import functions as F

In [25]:
df.withColumn('pickup_date', F.to_date(df.pickup_datetime)) \
  .withColumn('dropoff_date', F.to_date(df.dropOff_datetime)) \
  .show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-----------+------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|pickup_date|dropoff_date|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-----------+------------+
|              B01239|2019-10-05 06:46:45|2019-10-05 07:02:22|         264|         259|   null|                B02883| 2019-10-05|  2019-10-05|
|              B01338|2019-10-05 06:43:45|2019-10-05 06:51:27|         264|          18|   null|                B01338| 2019-10-05|  2019-10-05|
|              B02133|2019-10-04 06:13:33|2019-10-04 07:27:47|         264|         264|   null|                B02870| 2019-10-04|  2019-10-04|
|              B01751|2019-10-01 10:40:39|2019-10-01 10:44:42|         264|         264|   null|                B01751| 2019-10-01|  2019-10-01|
|             B01629 |2019-10-08 14:11:36|2019-10-08 14:50:15|          80|          76|   null|               B01629 | 2019-10-08|  2019-10-08|
|              B01087|2019-10-05 16:33:28|2019-10-05 18:23:48|         230|         265|   null|                B01087| 2019-10-05|  2019-10-05|
|              B00837|2019-10-02 09:53:55|2019-10-02 15:41:51|         264|         264|   null|                B00837| 2019-10-02|  2019-10-02|
|              B01145|2019-10-03 18:00:00|2019-10-03 18:09:09|         264|         167|   null|                B02867| 2019-10-03|  2019-10-03|
|              B00310|2019-10-03 06:53:25|2019-10-03 07:08:03|         264|          47|   null|                B02917| 2019-10-03|  2019-10-03|
|              B00037|2019-10-02 10:44:58|2019-10-02 10:49:43|         264|          62|   null|                B00037| 2019-10-02|  2019-10-02|
|              B02096|2019-10-01 21:06:43|2019-10-01 21:35:11|         264|         159|   null|                B02096| 2019-10-01|  2019-10-01|
|              B00937|2019-10-07 13:06:14|2019-10-07 13:21:42|         264|         243|   null|                B00937| 2019-10-07|  2019-10-07|
|              B03160|2019-10-01 15:53:00|2019-10-01 16:26:00|          93|          93|   null|                B02788| 2019-10-01|  2019-10-01|
|              B01445|2019-10-05 18:53:00|2019-10-05 19:25:00|          14|         228|   null|                B01445| 2019-10-05|  2019-10-05|
|              B02735|2019-10-02 19:11:39|2019-10-02 19:39:22|         264|         159|   null|                B02932| 2019-10-02|  2019-10-02|
|              B03016|2019-10-04 12:33:52|2019-10-04 12:45:16|         264|         254|   null|                B02876| 2019-10-04|  2019-10-04|
|              B01808|2019-10-04 15:00:00|2019-10-04 15:12:00|         264|         264|   null|                B01808| 2019-10-04|  2019-10-04|
|              B02401|2019-10-03 06:59:38|2019-10-03 07:34:08|         264|         132|   null|                B02401| 2019-10-03|  2019-10-03|
|              B00014|2019-10-01 18:19:40|2019-10-01 18:32:45|         264|         264|   null|                B00014| 2019-10-01|  2019-10-01|
|              B00937|2019-10-01 06:33:06|2019-10-01 07:03:16|         264|         138|   null|                B00937| 2019-10-01|  2019-10-01|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-----------+------------+
only showing top 20 rows

In [29]:
df.withColumn('pickup_date', F.to_date(df.pickup_datetime)) \
  .withColumn('dropoff_date', F.to_date(df.dropOff_datetime)) \
  .select('pickup_date', 'dropoff_date', 'PUlocationID', 'DOlocationID') \
  .show()

+-----------+------------+------------+------------+
|pickup_date|dropoff_date|PUlocationID|DOlocationID|
+-----------+------------+------------+------------+
| 2019-10-05|  2019-10-05|         264|         259|
| 2019-10-05|  2019-10-05|         264|          18|
| 2019-10-04|  2019-10-04|         264|         264|
| 2019-10-01|  2019-10-01|         264|         264|
| 2019-10-08|  2019-10-08|          80|          76|
| 2019-10-05|  2019-10-05|         230|         265|
| 2019-10-02|  2019-10-02|         264|         264|
| 2019-10-03|  2019-10-03|         264|         167|
| 2019-10-03|  2019-10-03|         264|          47|
| 2019-10-02|  2019-10-02|         264|          62|
| 2019-10-01|  2019-10-01|         264|         159|
| 2019-10-07|  2019-10-07|         264|         243|
| 2019-10-01|  2019-10-01|          93|          93|
| 2019-10-05|  2019-10-05|          14|         228|
| 2019-10-02|  2019-10-02|         264|         159|
| 2019-10-04|  2019-10-04|         264|         254|
| 2019-10-04|  2019-10-04|         264|         264|
| 2019-10-03|  2019-10-03|         264|         132|
| 2019-10-01|  2019-10-01|         264|         264|
| 2019-10-01|  2019-10-01|         264|         138|
+-----------+------------+------------+------------+
only showing top 20 rows

In [31]:
def crazy_stuff(base_num):
    num = int(base_num[1:])
    if num % 7 == 0:
        return f's/{num:03x}'
    elif num % 3 == 0:
        return f'a/{num:03x}'
    else:
        return f'e/{num:03x}'

In [32]:
crazy_stuff_udf = F.udf(crazy_stuff, returnType=types.StringType())

In [34]:
crazy_stuff('B00009')

'a/009'

In [41]:
df.withColumn('coded_id', crazy_stuff_udf(df.dispatching_base_num)) \
  .withColumn('pickup_date', F.to_date(df.pickup_datetime)) \
  .withColumn('dropoff_date', F.to_date(df.dropOff_datetime)) \
  .select('dispatching_base_num', 'coded_id', 'pickup_date', 'dropoff_date', 'PUlocationID', 'DOlocationID') \
  .show()

+--------------------+--------+-----------+------------+------------+------------+
|dispatching_base_num|coded_id|pickup_date|dropoff_date|PUlocationID|DOlocationID|
+--------------------+--------+-----------+------------+------------+------------+
|              B01239|   s/4d7| 2019-10-05|  2019-10-05|         264|         259|
|              B01338|   a/53a| 2019-10-05|  2019-10-05|         264|          18|
|              B02133|   a/855| 2019-10-04|  2019-10-04|         264|         264|
|              B01751|   e/6d7| 2019-10-01|  2019-10-01|         264|         264|
|             B01629 |   a/65d| 2019-10-08|  2019-10-08|          80|          76|
|              B01087|   e/43f| 2019-10-05|  2019-10-05|         230|         265|
|              B00837|   a/345| 2019-10-02|  2019-10-02|         264|         264|
|              B01145|   e/479| 2019-10-03|  2019-10-03|         264|         167|
|              B00310|   e/136| 2019-10-03|  2019-10-03|         264|          47|
|              B00037|   e/025| 2019-10-02|  2019-10-02|         264|          62|
|              B02096|   e/830| 2019-10-01|  2019-10-01|         264|         159|
|              B00937|   e/3a9| 2019-10-07|  2019-10-07|         264|         243|
|              B03160|   e/c58| 2019-10-01|  2019-10-01|          93|          93|
|              B01445|   e/5a5| 2019-10-05|  2019-10-05|          14|         228|
|              B02735|   e/aaf| 2019-10-02|  2019-10-02|         264|         159|
|              B03016|   e/bc8| 2019-10-04|  2019-10-04|         264|         254|
|              B01808|   e/710| 2019-10-04|  2019-10-04|         264|         264|
|              B02401|   s/961| 2019-10-03|  2019-10-03|         264|         132|
|              B00014|   s/00e| 2019-10-01|  2019-10-01|         264|         264|
|              B00937|   e/3a9| 2019-10-01|  2019-10-01|         264|         138|
+--------------------+--------+-----------+------------+------------+------------+
only showing top 20 rows

In [11]:
# HOMEWORK SECOND PART

In [12]:
from pyspark.sql import functions as F

In [32]:
df_mod = df \
    .withColumn('pickup_date', F.to_date(df.pickup_datetime)) \
    .withColumn('dropoff_date', F.to_date(df.dropOff_datetime)) \
    .select('dispatching_base_num', 'pickup_date', 'dropoff_date', 'PUlocationID', 'DOlocationID', 'pickup_datetime', 'dropOff_datetime')

In [14]:
df_mod.show()

+--------------------+-----------+------------+------------+------------+
|dispatching_base_num|pickup_date|dropoff_date|PUlocationID|DOlocationID|
+--------------------+-----------+------------+------------+------------+
|              B01239| 2019-10-05|  2019-10-05|         264|         259|
|              B01338| 2019-10-05|  2019-10-05|         264|          18|
|              B02133| 2019-10-04|  2019-10-04|         264|         264|
|              B01751| 2019-10-01|  2019-10-01|         264|         264|
|             B01629 | 2019-10-08|  2019-10-08|          80|          76|
|              B01087| 2019-10-05|  2019-10-05|         230|         265|
|              B00837| 2019-10-02|  2019-10-02|         264|         264|
|              B01145| 2019-10-03|  2019-10-03|         264|         167|
|              B00310| 2019-10-03|  2019-10-03|         264|          47|
|              B00037| 2019-10-02|  2019-10-02|         264|          62|
|              B02096| 2019-10-01|  2019-10-01|         264|         159|
|              B00937| 2019-10-07|  2019-10-07|         264|         243|
|              B03160| 2019-10-01|  2019-10-01|          93|          93|
|              B01445| 2019-10-05|  2019-10-05|          14|         228|
|              B02735| 2019-10-02|  2019-10-02|         264|         159|
|              B03016| 2019-10-04|  2019-10-04|         264|         254|
|              B01808| 2019-10-04|  2019-10-04|         264|         264|
|              B02401| 2019-10-03|  2019-10-03|         264|         132|
|              B00014| 2019-10-01|  2019-10-01|         264|         264|
|              B00937| 2019-10-01|  2019-10-01|         264|         138|
+--------------------+-----------+------------+------------+------------+
only showing top 20 rows

In [34]:
df_mod.createOrReplaceTempView('df_query')

# QUESTION 3: 2019-10-15 count records

In [30]:
spark.sql('''
SELECT 
    pickup_date,
    COUNT(pickup_date)
FROM df_query
WHERE pickup_date = "2019-10-15"
GROUP BY 1
''').show()

+-----------+------------------+
|pickup_date|count(pickup_date)|
+-----------+------------------+
| 2019-10-15|             62610|
+-----------+------------------+

# QUESTION 4: longest trip in the dataset (in hours)

In [61]:
spark.sql('''
SELECT
    dispatching_base_num, 
    pickup_date,
    (diff / 60) AS hours
FROM 
    (SELECT 
       dispatching_base_num, 
       pickup_date,
       TIMESTAMPDIFF(MINUTE, pickup_datetime, dropOff_datetime) AS diff
     FROM df_query) AS subq
ORDER BY diff DESC
''').show()

+--------------------+-----------+------------------+
|dispatching_base_num|pickup_date|             hours|
+--------------------+-----------+------------------+
|              B02832| 2019-10-11|          631152.5|
|              B02832| 2019-10-28|          631152.5|
|              B02416| 2019-10-31| 87672.43333333333|
|     B00746         | 2019-10-01| 70128.01666666666|
|              B02921| 2019-10-17|            8794.0|
|              B03110| 2019-10-26| 8784.166666666666|
|              B03080| 2019-10-30|1464.5333333333333|
|     B03084         | 2019-10-25|1056.8166666666666|
|     B03084         | 2019-10-25|1056.2666666666667|
|              B01452| 2019-10-01|            793.55|
|              B01452| 2019-10-01| 793.3833333333333|
|              B01452| 2019-10-01| 793.2833333333333|
|              B01452| 2019-10-01| 792.9833333333333|
|              B01452| 2019-10-01| 792.9833333333333|
|              B01452| 2019-10-01|            792.85|
|              B01452| 2019-10-01|             792.8|
|              B01452| 2019-10-01| 792.7833333333333|
|              B00972| 2019-10-01| 792.7666666666667|
|              B00972| 2019-10-01|            792.75|
|              B01452| 2019-10-01| 792.7333333333333|
+--------------------+-----------+------------------+
only showing top 20 rows

In [92]:
spark.sql('''
SELECT 
   *
FROM df_query
LIMIT 10
''').show()

+--------------------+-----------+------------+------------+------------+-------------------+-------------------+
|dispatching_base_num|pickup_date|dropoff_date|PUlocationID|DOlocationID|    pickup_datetime|   dropOff_datetime|
+--------------------+-----------+------------+------------+------------+-------------------+-------------------+
|              B01239| 2019-10-05|  2019-10-05|         264|         259|2019-10-05 06:46:45|2019-10-05 07:02:22|
|              B01338| 2019-10-05|  2019-10-05|         264|          18|2019-10-05 06:43:45|2019-10-05 06:51:27|
|              B02133| 2019-10-04|  2019-10-04|         264|         264|2019-10-04 06:13:33|2019-10-04 07:27:47|
|              B01751| 2019-10-01|  2019-10-01|         264|         264|2019-10-01 10:40:39|2019-10-01 10:44:42|
|             B01629 | 2019-10-08|  2019-10-08|          80|          76|2019-10-08 14:11:36|2019-10-08 14:50:15|
|              B01087| 2019-10-05|  2019-10-05|         230|         265|2019-10-05 16:33:28|2019-10-05 18:23:48|
|              B00837| 2019-10-02|  2019-10-02|         264|         264|2019-10-02 09:53:55|2019-10-02 15:41:51|
|              B01145| 2019-10-03|  2019-10-03|         264|         167|2019-10-03 18:00:00|2019-10-03 18:09:09|
|              B00310| 2019-10-03|  2019-10-03|         264|          47|2019-10-03 06:53:25|2019-10-03 07:08:03|
|              B00037| 2019-10-02|  2019-10-02|         264|          62|2019-10-02 10:44:58|2019-10-02 10:49:43|
+--------------------+-----------+------------+------------+------------+-------------------+-------------------+

In [77]:
# READING ZONES
df_zones = spark.read.option('header', 'true').csv("zones_csv")

In [78]:
df_zones.show()

+----------+-------------+--------------------+------------+
|locationid|      borough|                zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [81]:
df_zones.printSchema()

root
 |-- locationid: string (nullable = true)
 |-- borough: string (nullable = true)
 |-- zone: string (nullable = true)
 |-- service_zone: string (nullable = true)

In [79]:
from pyspark.sql import types

In [80]:
zones_schema = types.StructType([
    types.StructField('locationid', types.IntegerType(), True), 
    types.StructField('borough', types.StringType(), True), 
    types.StructField('zone', types.StringType(), True), 
    types.StructField('service_zone', types.StringType(), True), 
    ])

In [82]:
df_zones = spark.read.option('header', 'true').schema(zones_schema).csv("zones_csv")

In [83]:
df_zones.show()

+----------+-------------+--------------------+------------+
|locationid|      borough|                zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [84]:
df_zones.printSchema()

root
 |-- locationid: integer (nullable = true)
 |-- borough: string (nullable = true)
 |-- zone: string (nullable = true)
 |-- service_zone: string (nullable = true)

In [85]:
df_zones.write.parquet("zones_format_pq/2019/10")

In [86]:
df_format = spark.read.parquet("zones_format_pq/2019/10")

In [87]:
df_format.printSchema()

root
 |-- locationid: integer (nullable = true)
 |-- borough: string (nullable = true)
 |-- zone: string (nullable = true)
 |-- service_zone: string (nullable = true)

In [88]:
df_format.show()

+----------+-------------+--------------------+------------+
|locationid|      borough|                zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [89]:
df_format.createOrReplaceTempView('df_qzones')

In [98]:
spark.sql('''
SELECT 
    *
FROM df_qzones
WHERE zone = 'NV'
''').show()

+----------+-------+----+------------+
|locationid|borough|zone|service_zone|
+----------+-------+----+------------+
|       264|Unknown|  NV|         N/A|
+----------+-------+----+------------+

# QUESTION 6: Least frequent pickup location zone

In [114]:
spark.sql('''
SELECT 
    pu.zone,
    COUNT(ma.PUlocationID) AS abs_freq
FROM 
    df_query AS ma
INNER JOIN 
    df_qzones AS pu
ON ma.PUlocationID = pu.locationid
WHERE pu.borough != 'Unknown'
GROUP BY zone
ORDER BY abs_freq ASC
LIMIT 1
''').show()

+-----------+--------+
|       zone|abs_freq|
+-----------+--------+
|Jamaica Bay|       1|
+-----------+--------+